/***

Biblioteka
Version 0
Peter Behr made this
http://peterbehr.net

***/

/***

* Clean up resets
* rough table of contents
* url(''); or url("");?

display
positioning
width
height
padding
border
margin
background
color
type related

***/



/* BEGIN resets */

/*

Taken from: YUI and Eric Meyer (http://meyerweb.com/eric/tools/css/reset/)

* remember to define visible focus styles! ?
* no default text color or background

*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

body { line-height: 1; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
fieldset, img { border: 0px; }
ol, ul, li { list-style: none; }
caption, th { text-align: left; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select { *font-size: 100%; }
legend { color: #000; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

abbr, acronym {
    border:0;
    font-variant:normal;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* END resets */



/* BEGIN elements */



/* END elements */






/* BEGIN general classes, this is a mess */

/* positioning (and alignment?) */

.right { float: right; }
.left { float: left; }
.clear { clear: both; }
/* baseline? */
.middle { vertical-align: middle; }
.centered { margin-left: auto; margin-right: auto; }
.justify { text-align: justify; }
.center { text-align: center; }
.flush_left { text-align: left; }
.flush_right { text-align: right; }

/* dimensions */

.zero { width: 0px; height: 0px; }

/* display */

.block { display: block; }
.inline { display: inline; }
.invisible { display: none; }
.hidden { display: none; /* synonym necessary? */ }

/* type */

.biggest { font-size: 20px; }
.bigger { font-size: 18px; }
.big { font-size: 16px; }
.medium { font-size: 14px; }
.small { font-size: 12px; }
.smaller { font-size: 10px; }
.smallest { font-size: 8px; }
.lightest { font-weight: 100; }
.light {font-weight: 200; }
.normal { font-weight: 400; }
.bold { font-weight: 600; }
.bolder { font-weight: 700; }
.boldest { font-weight: 900; }

.italic { font-style: italic; }
.roman {font-style: normal; }
.underline { text-decoration: underline; /* line-through? */ }
.plain { text-decoration: none; }

/* colors for me */

.lighter_gray { color: #eee; }
.light_gray { color: #ccc; }
.gray { color: #999999; }
.dark_gray { color: #666666; }
.darker_gray { color: #666666; }
.red { color: #ff9900; }
.yellow { color: #ffcc33; }
.black { color: #000000; }
.blue { color: #2b82ad; }

.thin { height: 1px; }
.thick { height: 2px; }

/* END general classes */