<!--

[project name]
[version]
Peter Behr made this
http://peterbehr.net

-->

<!--

[notes, task queue, etc.]

* style guide?
* to wit: single or double quotes, also in js
* http://validator.w3.org
* http://diveintohtml5.org/semantics.html
* http://dev.w3.org/html5/html-author/
* should this go after the doctype? maybe
* order of elements in the head

-->

<!DOCTYPE html>

<html>

<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Peter Behr">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="all">
    
    <link rel="stylesheet" type="text/css" href="http://peterbehr.net/biblioteka/defaults/default_css.css" />
    
    <title></title>
    
</head>

<body>

</body>

</html>